.about-u-section-1 {
  background-image: none;
}

.about-u-section-1 .u-sheet-1 {
  min-height: 1025px;
}

.about-u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.about-u-section-1 .u-layout-cell-1 {
  min-height: 865px;
}

.about-u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.about-u-section-1 .u-text-1 {
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 238px 0 0;
}

.about-u-section-1 .u-text-2 {
  line-height: 32px;
  font-weight: normal;
  margin: 20px 0 0;
}

.about-u-section-1 .u-image-1 {
  width: 937px;
  height: 431px;
  margin: 80px 57px 0 86px;
}

@media (max-width: 1199px) {
  .about-u-section-1 .u-sheet-1 {
    min-height: 873px;
  }

  .about-u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .about-u-section-1 .u-layout-cell-1 {
    min-height: 713px;
  }

  .about-u-section-1 .u-container-layout-1 {
    /* padding-right: 81px; */
  }

  .about-u-section-1 .u-text-1 {
    margin-right: 38px;
  }

  .about-u-section-1 .u-image-1 {
    width: 880px;
    height: 405px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .about-u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .about-u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .about-u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .about-u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .about-u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .about-u-section-1 .u-image-1 {
    width: 660px;
    height: 304px;
  }
}

@media (max-width: 767px) {
  .about-u-section-1 .u-sheet-1 {
    min-height: 1550px;
  }

  .about-u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .about-u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .about-u-section-1 .u-image-1 {
    width: 520px;
    height: 240px;
  }
}

@media (max-width: 575px) {
  .about-u-section-1 .u-sheet-1 {
    min-height: 1410px;
  }

  .about-u-section-1 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .about-u-section-1 .u-image-1 {
    width: 320px;
    height: 148px;
  }
}