body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(50, 46 , 46);
  text-align: center;
  color: white;
}

.topnav {
  padding-left: 9%;
  overflow: hidden;
  background-color: rgb(130, 59, 59);
  text-align: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 30px;
  width: 15%;
  height: 50px;
  border:solid 1px rgb(24,24,24) ;
  line-height: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .last {
  font-size: 20px;
}

.maan-div {
  position: absolute;
  left: -130px;
  top: 60px;
  overflow: hidden;
  max-width: 23%;
  height: auto;
}

.control-img {
  transform: rotate(30deg);
  position: absolute;
  bottom: 0px;
  left: 30px;
  max-width: 20%;
  height: auto;
}

.man1-div {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 200px;
  overflow: hidden;
}


.collection-div {
  position: relative;
  width: 800px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  text-align: center;  
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.vethug-div {
  position: absolute;
  left: 150px;
  top: 68px;
  width: 290px;
  height: 330px;
  background-color: rgb(130, 122, 122);
  text-align: center; 
}

.mooning-img {
  position: absolute;
  top: -30px;
  left: 440px;
}



.venus-img {
  position: absolute;
  top: 250px;
  right: 0px;
  overflow: hidden;
  max-width: 90%;
  height: auto;
}

button {
  margin-top: 70px;
  padding: 3px 20px 3px 20px;
  background-color: rgb(72, 72 , 72);
  font-size: 18px;
  color: white;
  font-family: fantasy;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .topnav a {
    font-size: 24px;
  }
  .topnav .last {
    font-size: 16px;
  }
}